table, th, td {
  border: 1px solid black;
}

td {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  font-size: 12px;
  font-weight: 600;
}

th {
  font-size: 16px;
  color: #B8519D;
  font-weight: 900;
}

#grad {
  background-image: linear-gradient(#B8819A,#FF7DB9)
}